table {
    background-color: ghostwhite;
    text-align: center;
}

.trHead {
    background-color: gainsboro;
}

.trGap {
    color: gray;
}

.tcName {
    width: 100px;
}

.tcSize {
    text-align: right;
}

.tcSizeDecimal {
    width: 120px;
    text-align: right;
}

.tcSizeHexDecimal {
    width: 100px;
    text-align: right;
}

.tcSizeHumanSimplest {
    width: 90px;
    text-align: right;
}

.tcSizeHumanNoFractional {
    width: 80px;
    text-align: right;
}

td {
    border: solid;
    border-width: 1px 1px 1px 1px;
    border-color: gainsboro;
}

.tdWritable {
    color: green
}

.tdNonWritable {
    color: red
}

.tdPartialWritable {
    color: orange
}

/* tr  {
    border-bottom: 3px;
    border-color: black;
    color: green
} */
